.table-container {
  width: 100%;
}
.table-container .Component-paginationToolbar-2,
.table-container .MuiToolbar-root {
  width: auto;
}

.table-container .MuiButtonBase-root.MuiIconButton-root {
  color: #674188;
  border-radius: 10px;
  margin: 2px;
}

.table-container .MuiPaper-elevation {
  background-color: rgb(255, 255, 255);
}
