.ActivatePage {
  padding: 4rem 0;
  height: 100%;
  background-color: var(--LightestColor);
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  .snake {
    position: absolute;
    top: 0;
    right: 0;
  }
  h1 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    color: #1f1f1f;
  }

  .error-no-amount {
    h3 {
      text-align: center;
      color: var(--MainColor);
      font-size: 2.4rem;
      margin-bottom: 10px;
    }
  }
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 790px;
  gap: 50px;
}


.ActivatePage .MuiPaper-root.MuiPaper-elevation {
  margin-top: 15px;
  font-size: 1.4rem;
  border-radius: 10px;
  background-color: white;
  border: var(--MainColor) 1.5px solid;
  color: var(--MainColor)
}

.ActivatePage .MuiTypography-root.MuiTypography-body1 {
  font-size: 1.4rem;
  font-weight: 600;
 
}

.scraping-btn-container{
  color: var(--MainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.ActivatePage .MuiSvgIcon-fontSizeLarge {
  font-size: 2.4rem;
}

.ActivatePage .MuiSvgIcon-root{
  color: var(--MainColor);
}
