.ActivatePage {
  padding: 4rem 0;
  height: 100%;
  background-color: var(--LightestColor);
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  .snake {
    position: absolute;
    top: 0;
    right: 0;
  }
  h1 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    color: #1f1f1f;
  }

  .error-no-amount {
    h3 {
      text-align: center;
      color: var(--MainColor);
      font-size: 2.4rem;
      margin-bottom: 10px;
    }
  }
}


