.GroupsPage {
    padding: 4rem 0;
    height: 100%;
    background-color: var(--LightestColor);
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    h1 {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 400;
        color: #1f1f1f;
    }

    .table-container{
    width: 90%;
    margin: 0 auto;
    }
}


@media screen and (max-width: 700px) {
    .GroupsPage{
  
      .table-container {
        width: 98%;
      }
    }
  }