.GroupsPage {
    padding: 4rem 4rem;
    height: 100%;
    background-color: var(--LightestColor);
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media screen and (max-width: 700px) {
    .GroupsPage{
  
      .table-container {
        width: 98%;
      }
    }
  }
