.navbar {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  background-color: var(--MainColor);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  .logo {
    width: 80px;
    height: 50px;
    background-color: var(--LightestColor);
  }

  .navigate-links {
    display: flex;
    gap: 3rem;
  }
  .nav-btn {
    cursor: pointer;
    background-color: var(--MainColor);
    color: var(--LightColor);
    font-size: 2rem;
    padding: 1.2rem 3rem;
    line-height: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
  }

  .nav-btn-selected {
    background-color: var(--LightColor);
    color: var(--MainColor);
  }

  .nav-btn:hover {
    background-color: var(--LightColor);
    color: var(--MainColor);
  }
}

@media screen and (max-width: 700px) {
  .navbar{

    .nav-btn {
      display: none;
    }
  }
}
